<h1>Word Freqency</h1>

<h3>Enter the word you want the frequency counter to evaluate, and then the sentence in which to look!</h3>
<h4>When it is finished, the frequency counter will return the amount of times your word appears.</h4>

<form action= "/word_count" method="get">
  <p><div class= "form-group">
    <label for="word_to_count">Word to Count:</label>
    <input id="word_to_count" name="word_to_count" class="form-control" type="text">
  </div></p>
  <p><div class= "form-group">
    <label for="sentence">Sentence:</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div></p>

<button type="submit" class="btn">Search</button>
</form>
